%h3 About

%p This was inspired by all the tweets (and more recently the re-discovery of reddit posts) that I see go by that are calling out dumb behavior, false information, and general trollery. Now there will be a central suppository for calling out these falsehoods and lamery. Eventually we will add discussion about these claims but initially, I just want a count of how bullshit something is.

%p And yes I expect it to be wildly abused.

%p Drag this link to your bookmarks &#x2192; <a href="javascript:document.baseURL='http://#{ENV["URL"] || "localhost:4567"}';var%20d=new%20Date().getTime();var%20os=document.getElementById('bs_script');if(os){os.parentNode.removeChild(os);}var%20s=document.createElement('script');s.type='text/javascript';s.id='bs_script';document.body.appendChild(s);s.src='http://#{ENV["URL"] || "localhost:4567"}/scripity.js?'+d;void(0);" title="BullSh*t">BullSh*t</a> &#x2190; <!--&#x238B;--> and click it whenever you come across bullshit online.

%p Extensions for Chrome, Safari and maybe Firefox might be coming soon. If there is <a href="mailto:info@paperclipped.com">interest</a>.
  
#disqus_thread

:javascript
    var disqus_shortname = 'icallbullshit';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
    /* * * THAT IS ALL * * */
    
%noscript Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>