%h1 Nice, that must have felt good.
%h3
  - if @total > 2
    #{ @totalWord } other people have had the same uneasy feeling about this as you. So don't feel so special.
  - elsif @total > 1
    You may have found your soulmate. Too bad we don't even log IP addresses for users of this service yet. So if you were thinking of finding this person, you're shit out of luck.
  - else
    Wow, you're the first scumbag to be so critical of this site. I bet you feel <em> special</em>.